a:active{
    color: #fbe46f !important;
    text-decoration: none
  }
a:hover{
    color: #fbe46f !important;
    text-decoration: none
  }
a {
    color: #707070 !important;
    text-decoration: none
  }
.menu{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #707070;

}
.menu-link{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #707070;
    display: inline-block;
    text-decoration: none;  
    position: relative;

}
.menu-link:after{
    content: "";
    display: block;
    width: 100%;
    opacity: 0;
    height: 2px;
    margin-top: 10px;
    background-color: #fbe46f;
    position: absolute;
    top: 100%;
    z-index: 100;
}
.menu-link:hover:after {
    opacity: 1;
}
.menu-logo{
    text-align: center;
}
.main{
    margin-top: 5%;
    height: 700px;
    background-image: url(/css/back.png);
    background-repeat:no-repeat;
    background-position: right;
}
.img-str{
    margin-top: 300%;
    text-align: center;
}
.main-basic-img{
    text-align: left;
}

/* картинки в центре */

.midl{
        text-align: center;
}